[submodule "libft"]
	path = libft
	url = git@github.com:roneyrogerio/libft.git

[submodule "3D_engine"]
	path = 3d_engine
	url = git@github.com:roneyrogerio/3D_engine.git

[submodule "libbmp24"]
	path = libbmp24
	url = git@github.com:roneyrogerio/libbmp24.git
