[submodule "libft"]
	path = libft
	url = https://github.com/roneyrogerio/libft.git

[submodule "ngn"]
	path = ngn
	url = https://github.com/roneyrogerio/raycast-engine.git

[submodule "lbmp"]
	path = lbmp
	url = https://github.com/roneyrogerio/libbmp.git

[submodule "libmlx"]
	path = libmlx
	url = https://github.com/42Paris/minilibx-linux.git
